---
const pageTitle = 'About Me';

const identity = {
	firstName: 'Danny',
	country: 'England',
	occupation: 'Web Developer',
	hobbies: ['Football', 'Gaming', 'Music'],
}

const skills = ["HTML", "CSS", "JavaScript", "PHP", "MySQL", "React", "Node.js", "Git", "GitHub", "WordPress"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

			<h1>{pageTitle}</h1>
				<p>
					Hi, I'm {identity.firstName}. I'm a {identity.occupation} and I like to make things.
				</p>
				<p>
					I've been a {identity.country} fan for 20 years.
				</p>
				<p>
					Here are some of my favourite things:
				</p>
				{identity.hobbies.length >= 2 &&
					<li> Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.</li>
				}

				<p>My skills are:</p>
				<ul>
					{skills.map((skill) => (
						<li>{skill}</li>
					))}
				</ul>
				{happy && <p>I am happy to be learning Astro</p>}
				{finished && <p>I have finished learning Astro</p>}
				{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</body>
</html>
